<div class="animate__animated animate__fadeIn">
    <!-- content -->
    <section style="padding-top: 0 !important">
        <div>
            <div class="row gx-5">
                <aside class="col-lg-6">
                    <section>
                        <div class="container" style="padding: 0;">
                            <div class="carousel">
                                <input ng-repeat="media in product.media" type="radio" name="slides" checked="checked"
                                    id="slide-{{media.mediaId}}">
                                <!-- <input type="radio" name="slides" id="slide-2">
                                <input type="radio" name="slides" id="slide-3">
                                <input type="radio" name="slides" id="slide-4">
                                <input type="radio" name="slides" id="slide-5">
                                <input type="radio" name="slides" id="slide-6"> -->
                                <ul class="carousel__slides" style="max-height: 50vh;">
                                    <li class="carousel__slide" ng-repeat="media in product.media">
                                        <figure>
                                            <div style="height: 50vh;display: flex;
                                            align-items: center;
                                            justify-content: center;">
                                                <img ng-src="{{media.mediaUrl}}" alt=""
                                                    style="height: 50vh; border: 1px solid #dee2e6; border-radius: 3px;">
                                            </div>
                                        </figure>
                                    </li>
                                </ul>
                                <ul class="carousel__thumbnails">
                                    <li style="margin-right: 2px;" ng-repeat="media in product.media">
                                        <label for="slide-{{media.mediaId}}"><img ng-src="{{media.mediaUrl}}"
                                                style="max-height: 20vh;" alt=""></label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            {{product.productName}}
                        </h4>
                        <div class="d-flex flex-row my-3">
                            <div class="text-warning mb-1 me-2">

                                <span>
                                    <span ng-if="AverageRating==0">
                                        <i ng-repeat="n in [].constructor(5) track by $index" class="fa-solid fa-star"
                                            style="color: #c0c0c0;"></i>
                                    </span>
                                    <span ng-if="AverageRating==1">
                                        <i ng-repeat="n in [].constructor(4) track by $index" class="fa-solid fa-star"
                                            style="color: #ffc107;"></i>
                                        <i ng-repeat="n in [].constructor(1) track by $index" class="fa-solid fa-star"
                                            style="color: #c0c0c0;"></i>

                                    </span>
                                    <span ng-if="AverageRating==2">
                                        <i ng-repeat="n in [].constructor(2) track by $index" class="fa-solid fa-star"
                                            style="color: #ffc107;"></i>
                                        <i ng-repeat="n in [].constructor(3) track by $index" class="fa-solid fa-star"
                                            style="color: #c0c0c0;"></i>
                                    </span>
                                    <span ng-if="AverageRating==3">
                                        <i ng-repeat="n in [].constructor(3) track by $index" class="fa-solid fa-star"
                                            style="color: #ffc107;"></i>
                                        <i ng-repeat="n in [].constructor(2) track by $index" class="fa-solid fa-star"
                                            style="color: #c0c0c0;"></i>
                                    </span>
                                    <span ng-if="AverageRating==4">
                                        <i ng-repeat="n in [].constructor(4) track by $index" class="fa-solid fa-star"
                                            style="color: #ffc107;"></i>
                                        <i ng-repeat="n in [].constructor(1) track by $index" class="fa-solid fa-star"
                                            style="color: #c0c0c0;"></i>
                                    </span>
                                    <span ng-if="AverageRating==5">
                                        <i ng-repeat="n in [].constructor(5) track by $index" class="fa-solid fa-star"
                                            style="color: #ffc107;"></i>
                                    </span>

                                    <!-- --------------------------------------------------------- -->

                                    <span ng-if="AverageRating > 0 && AverageRating < 1">
                                        <i class="fas fa-star-half-alt" style="color: #ffc107;"></i>
                                        <i ng-repeat="n in [].constructor(4) track by $index" class="fa-solid fa-star"
                                            style="color: #c0c0c0;"></i>
                                    </span>

                                    <span ng-if="AverageRating > 1 && AverageRating < 2">
                                        <i ng-repeat="n in [].constructor(1) track by $index" class="fa-solid fa-star"
                                            style="color: #ffc107;"></i>
                                        <i class="fas fa-star-half-alt" style="color: #ffc107;"></i>
                                        <i ng-repeat="n in [].constructor(3) track by $index" class="fa-solid fa-star"
                                            style="color: #c0c0c0;"></i>
                                    </span>
                                    <span ng-if="AverageRating > 2 && AverageRating < 3">
                                        <i ng-repeat="n in [].constructor(2) track by $index" class="fa-solid fa-star"
                                            style="color: #ffc107;"></i>
                                        <i class="fas fa-star-half-alt" style="color: #ffc107;"></i>
                                        <i ng-repeat="n in [].constructor(2) track by $index" class="fa-solid fa-star"
                                            style="color: #c0c0c0;"></i>
                                    </span>
                                    <span ng-if="AverageRating > 3 && AverageRating < 4">
                                        <i ng-repeat="n in [].constructor(3) track by $index" class="fa-solid fa-star"
                                            style="color: #ffc107;"></i>
                                        <i class="fas fa-star-half-alt" style="color: #ffc107;"></i>
                                        <i ng-repeat="n in [].constructor(1) track by $index" class="fa-solid fa-star"
                                            style="color: #c0c0c0;"></i>
                                    </span>
                                    <span ng-if="AverageRating > 4 && AverageRating < 5">
                                        <i ng-repeat="n in [].constructor(4) track by $index" class="fa-solid fa-star"
                                            style="color: #ffc107;"></i>
                                        <i class="fas fa-star-half-alt" style="color: #ffc107;"></i>
                                    </span>
                                </span>

                                <span class="ms-1">
                                    {{AverageRating}}
                                </span>
                            </div>
                            <span class="text-muted"><i
                                    class="fas fa-shopping-basket fa-sm mx-1"></i>{{product.ratings.length}} lượt đánh
                                giá</span>
                            <span class="text-success ms-2">{{product.soldQuantity}} đã bán</span>
                        </div>

                        <div class="mb-3">
                            <span class="h5">{{getSalePrice(product.originalPrice, product.promotion) | currencyFormat}}
                            </span>
                            <span class="text-muted">/sản phẩm</span> &nbsp; <span
                                ng-show="getSalePrice(product.originalPrice, product.promotion)!==product.originalPrice"
                                style="text-decoration: line-through; color: red;">{{product.originalPrice}} VND</span>
                        </div>

                        <p>
                            {{product.description}}
                        </p>

                        <div class="row">
                            <dt class="col-3">Chất liệu</dt>
                            <dd class="col-9">{{product.material}}</dd>
                            <dt class="col-3">Ngày đăng</dt>
                            <dd class="col-9">{{getFormattedTimeAgo(product.datePost)}}</dd>
                        </div>

                        <hr />

                        <div class="row">
                            <dt class="col-3">Màu sắc</dt>
                            <dd class="col-9">
                                <div class="btn-group" data-bs-toggle="buttons">
                                    <div ng-repeat="obj in product.productColors">
                                        <label class="btn">
                                            <input type="radio" class="me-2" ng-model="selectedColor"
                                                ng-value="obj.color.colorId" name="color"
                                                ng-click="getTotal(obj.color.colorId)">
                                            {{obj.color.colorName}}
                                        </label>
                                    </div>
                                </div>
                            </dd>
                            <div class="col-md-4 col-6 mb-3">
                                <label class="mb-2 d-block">Số lượng</label>
                                <div class="input-group mb-3" style="width: 170px;">
                                    <button ng-click="reduceQuantity()"
                                        class="btn btn-white border border-secondary px-3" type="button"
                                        id="button-addon1" data-mdb-ripple-color="dark">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input type="text" class="form-control text-center border border-secondary"
                                        value="{{quantity}}" aria-label="Example text with button addon"
                                        aria-describedby="button-addon1" />
                                    <button ng-click="increaseQuantity()"
                                        class="btn btn-white border border-secondary px-3" type="button"
                                        id="button-addon2" data-mdb-ripple-color="dark">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-7 col-5 mb-8 offset-1" ng-show="total!==-1">
                                Kho: {{total}}
                            </div>
                        </div>
                        <a class="btn btn-warning shadow-0"
                            style="background-color:white; color: #ff3f40; border: 1px solid #ff3f40;"> Mua ngay </a>
                        <a ng-click="addShoppingCart(product.productId)" class="btn btn-primary shadow-0"
                            style="background-color: white ; color: #007ACC;">
                            <i class=" fa fa-shopping-basket"></i> Thêm vào giỏ hàng </a>
                        <a class="btn btn-light border border-secondary  icon-hover px-3"> ❤️ Yêu thích
                        </a>
                    </div>
                </main>
            </div>
        </div>
    </section>
    <!-- content -->

    <section class="bg-light border-top py-4">
        <div class="container">
            <div class="row gx-4">
                <div class="col-lg-4">
                    <div class="px-0 border rounded-2 shadow-0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Sản phẩm liên quan</h5>
                                <div class="d-flex mb-3">
                                    <a href="#" class="me-3">
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp"
                                            style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                    </a>
                                    <div class="info">
                                        <a href="#" class="nav-link mb-1">
                                            Rucksack Backpack Large <br />
                                            Line Mounts
                                        </a>
                                        <strong class="text-dark"> $38.90</strong>
                                    </div>
                                </div>

                                <div class="d-flex mb-3">
                                    <a href="#" class="me-3">
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp"
                                            style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                    </a>
                                    <div class="info">
                                        <a href="#" class="nav-link mb-1">
                                            Summer New Men's Denim <br />
                                            Jeans Shorts
                                        </a>
                                        <strong class="text-dark"> $29.50</strong>
                                    </div>
                                </div>

                                <div class="d-flex mb-3">
                                    <a href="#" class="me-3">
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp"
                                            style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                    </a>
                                    <div class="info">
                                        <a href="#" class="nav-link mb-1"> T-shirts with multiple colors, for men and
                                            lady </a>
                                        <strong class="text-dark"> $120.00</strong>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <a href="#" class="me-3">
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp"
                                            style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                    </a>
                                    <div class="info">
                                        <a href="#" class="nav-link mb-1"> Blazer Suit Dress Jacket for Men, Blue color
                                        </a>
                                        <strong class="text-dark"> $339.90</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-4">
                    <div class="border rounded-2 px-3 py-2 bg-white  mb-5">
                        <center>
                            <h5 class="card-title" ng-show="myRate.ratingId"
                                style="text-align: left; font-weight: 600; display: flex; justify-content: space-between;">
                                Đánh giá của tôi
                                <span><small style="font-size: 12px; color: #65676b" class="ng-binding">
                                        {{getFormattedTimeAgo(myRate.ratingDate)}}
                                    </small></span>
                            </h5>
                            <h5 ng-show="!myRate.ratingId">Bạn chưa đánh giá sản phẩm này</h5>

                            <button ng-click="removeStars($index)"
                                ng-repeat="n in [].constructor(myRatings) track by $index"
                                style="border: none; background-color: transparent;">
                                <i class="fa-solid fa-star" style="color: #ffc107;"></i></button>

                            <button ng-repeat="n in [].constructor(5-myRatings) track by $index"
                                ng-click="addStars($index)" style="border: none; background-color: transparent;"><i
                                    class="fa-solid fa-star" style="color: #c0c0c0;"></i></button>

                            <textarea class="form-control mt-2" name="" id=""
                                ng-model="myRate.ratingContent"></textarea>
                            <a ng-click="rate()" class="btn btn-primary shadow-0 m-2"
                                style="background-color: white ; color: #007ACC;">
                                Đánh giá </a>
                        </center>
                    </div>
                    <div class="border rounded-2 px-3 py-2 bg-white">
                        <center>
                            <h5 class="card-title">Đánh giá chung</h5>
                        </center>
                        <div>
                            <div class="user-profile m-4" ng-repeat="rate in product.ratings  | orderBy:'-ratingDate'">
                                <div ng-show="rate.user.userId!==myRate.user.userId">
                                    <a href="#!/profile/{{rate.user.userId}}"><img ng-src="{{rate.user.avatar}}"
                                            style="border-radius: 100%;" alt=""></a>
                                    <div>

                                        <span
                                            style="font-weight: 600 !important; font-size: 1rem !important; margin: 0; color: #2A3547"
                                            class="ng-binding">{{rate.user.username}}</span> &nbsp;&nbsp; <span><small
                                                style="font-size: 12px; color: #65676b" class="ng-binding">
                                                {{getFormattedTimeAgo(rate.ratingDate)}}
                                            </small></span>
                                        <span>
                                            <i ng-repeat="n in [].constructor(rate.ratingValue) track by $index"
                                                class="fa-solid fa-star" style="color: #ffc107;"></i>
                                            <i ng-repeat="n in [].constructor(5-rate.ratingValue) track by $index"
                                                class="fa-solid fa-star" style="color: #c0c0c0;"></i>

                                        </span>
                                        <div style="margin-left: 0.3rem !important">
                                            {{rate.ratingContent}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Footer -->
</div>